{% extends 'portfo/base.html' %} {% block content %} {% load static %}
<div class="container vh-100">
    <h3 class="text-end m-5 mb-2">About</h3>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <p class="text-start m-5 mb-2">
                I am a software engineer with a background in computer science and engineering. I have a passion for
                learning new technologies and developing new projects. I am currently looking for opportunities to
                work in the field of software engineering.
            </p>
            <p class="text-start m-5 mb-2">
                I am currently looking for opportunities to work in the field of software engineering.
            </p>
        </div>
        <div class="col-5">
            {% comment %} <div class="g-o m-3"><h1>G O</h1></div> {% endcomment %}
            <div class="cube-container">
                <div class="cube">
                  <div class="face front"><span><img class="img-fluid logo" src="{% static 'images/Logo.png' %}" alt="logo" width="80" height="80"></span>React-vite</div>
                  <div class="face back"><span><img class="img-fluid logo" src="{% static 'images/pylogo.png' %}" alt="logo" width="80" height="80"></span>Python</div>
                  <div class="face right"><span><img class="img-fluid logo" src="{% static 'images/nodelogo.png' %}" alt="logo" width="80" height="80"></span>Nodejs</div>
                  <div class="face left"><span><img class="img-fluid logo" src="{% static 'images/django.png' %}" alt="logo" width="80" height="80"></span></div>
                  <div class="face top"><span><img class="img-fluid logo" src="{% static 'images/gitlogo.png' %}" alt="logo" width="80" height="80"></span>Git/Github</div>
                  <div class="face bottom"><span><img class="img-fluid logo" src="{% static 'images/jslogo.png' %}" alt="logo" width="80" height="80"></span>JavaScript</div>
                </div>
              </div>
        </div>
    </div>
</div>




{%endblock%}