{% extends 'portfo/base.html' %} {% block content %} {% load static %}
<div class="container vh-100">
    <h3 class="text-end m-5 mb-2">About</h3>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <p class="text-start m-5 mb-2">
                I am a software engineer with a background in computer science and engineering. I have a passion for
                learning new technologies and developing new projects. I am currently looking for opportunities to
                work in the field of software engineering.
            </p>
            <p class="text-start m-5 mb-2">
                I am currently looking for opportunities to work in the field of software engineering.
            </p>
        </div>
        <div class="col-5">
            <div class="g-o m-3"><h1>G O</h1></div>
        </div>
    </div>
</div>




{%endblock%}