{% extends 'portfo/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="babies col-md-2 d-md-block mt-5">
        <h2 class="text-center baby"> 120</h2> <hr>
        <h5 class= "text-center">
          <strong>All Babies</strong>
        </h5>
    </div>

    <div class="babies col-md-2 d-md-block mt-5">
        <h2 class="text-center baby"> 66</h2> <hr>
        <h5 class= "text-center">
          <strong>All Sitters</strong>
        </h5>
    </div>

    <div class="babies col-md-2 d-md-block mt-5">
        <h2 class="text-center baby">UGX. 900000</h2> <hr>
        <h5 class= "text-center">
          <strong>All Payments</strong>
        </h5>
    </div>
    </div>
</div>
{% endblock %}