{% extends 'portfo/base.html' %} {% block content %} {% load static %}

<div class="container p-3">
  <h3 class="text-end m-5 mb-2">Working Projects</h3>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'images/profile.jpg' %}"
          height="200"
          width="auto"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>

        <div class="card-body">
          <a href="#" class="btn btn-outline-success btn-sm card-link"
            >Read more</a
          >
          <a href="#" class="card-link">Visit</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'images/sticky.jpg' %}"
          height="200"
          width="auto"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">title here</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>

        <div class="card-body">
          <a href="#" class="btn btn-outline-success btn-sm card-link"
            >Read more</a
          >
          <a href="#" class="card-link">Visit</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'images/sticky.jpg' %}"
          height="200"
          width="auto"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Sticky NotesApp</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>

        <div class="card-body">
          <a href="#" class="btn btn-outline-success btn-sm card-link"
            >Read more</a
          >
          <a href="#" class="card-link">Visit</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 pt-3">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'images/profile.jpg' %}"
            height="200"
            width="auto"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>

          <div class="card-body">
            <a href="#" class="btn btn-outline-success btn-sm card-link"
              >Read more</a
            >
            <a href="#" class="card-link">Visit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 pt-3">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'images/sticky.jpg' %}"
            height="200"
            width="auto"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">title here</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>

          <div class="card-body">
            <a href="#" class="btn btn-outline-success btn-sm card-link"
              >Read more</a
            >
            <a href="#" class="card-link">Visit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 pt-3">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'images/sticky.jpg' %}"
            height="200"
            width="auto"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Sticky NotesApp</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>

          <div class="card-body">
            <a href="#" class="btn btn-outline-success btn-sm card-link"
              >Read more</a
            >
            <a href="#" class="card-link">Visit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
