{% extends 'portfo/base.html' %}
{% block content %}
{% load static %}

<div class="container p-3">
  <h3 class="text-end m-5 mb-2">Working Projects</h3>
  <hr />
  <div class="row">
    <!-- First Card -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img
          src="{% static 'images/carousel_4.jpg' %}"
          height="200"
          class="card-img-top"
          alt="DayStar Application"
        />
        <div class="card-body">
          <h5 class="card-title text-center">#DayStar Application</h5>
          <p class="card-text">
            A simple Web App designed for an Administrator to Assign Babies to respective Sitters and Manage Payments Made.
          </p>
        </div>
        <div class="card-body text-center">
          <a href="#" class="btn btn-outline-success btn-sm card-link">Read more</a>
          <a href="#" class="btn btn-outline-success btn-sm card-link">Visit</a>
        </div>
      </div>
    </div>
    
    <!-- Second Card -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img
          src="{% static 'images/sticky.jpg' %}"
          height="200"
          class="card-img-top"
          alt="My Blog"
        />
        <div class="card-body">
          <h5 class="card-title text-center">#My Blog</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="card-body text-center">
          <a href="#" class="btn btn-outline-success btn-sm card-link">Read more</a>
          <a href="#" class="btn btn-outline-success btn-sm card-link">Visit</a>
        </div>
      </div>
    </div>
    
    <!-- Third Card -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img
          src="{% static 'images/sticky.jpg' %}"
          height="200"
          class="card-img-top"
          alt="Sticky NotesApp"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Sticky NotesApp</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="card-body text-center">
          <a href="#" class="btn btn-outline-success btn-sm card-link">Read more</a>
          <a href="#" class="btn btn-outline-success btn-sm card-link">Visit</a>
        </div>
      </div>
    </div>

    <!-- Fourth Card -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img
          src="{% static 'images/profile.jpg' %}"
          height="200"
          class="card-img-top"
          alt="Profile"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="card-body text-center">
          <a href="#" class="btn btn-outline-success btn-sm card-link">Read more</a>
          <a href="#" class="btn btn-outline-success btn-sm card-link">Visit</a>
        </div>
      </div>
    </div>

    <!-- Fifth Card -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img
          src="{% static 'images/sticky.jpg' %}"
          height="200"
          class="card-img-top"
          alt="Sticky NotesApp"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Sticky NotesApp</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="card-body text-center">
          <a href="#" class="btn btn-outline-success btn-sm card-link">Read more</a>
          <a href="#" class="btn btn-outline-success btn-sm card-link">Visit</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
